/* 
Variables
*/
$black: #000;
$white: #fff;
$secondary: #c62828;
$page-wrapper-width: 80%;
$primary: #f5f5f5;
$primary50: #FAFAFA;
$primary300: #E0E0E0;
$primary400: #BDBDBD;
$primary700: #616161;
$primary800: #424242;
$primary900: #212121;

$button-height: 42px;

$xs-breakpoint: 36rem;
$sm-breakpoint: 48rem;
$md-breakpoint: 64rem;
$lg-breakpoint: 80rem;
